<!doctype html>
<html>

<head>
    <title>Project M Test Login</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <style>
        body {
            font-family: "Courier New", Courier, monospace;
            background-color: #36393F;
            color: white;
        }

        .hide {
            display: none;
        }
    </style>

    <script type="text/javascript">
        $( document ).ready( function () {
            $( "#login_button" ).on( 'click', function () {

            } );
            $( "#logout_button" ).on( 'click', function () {
                $( "#login_form_div" ).removeClass( 'hide' );
                $( "#logged_in_area" ).addClass( 'hide' );
                return false;
            } );

            $( "#login_button" ).click( function () {
                $.ajax( {
                    type: "POST",
                    url: "/auth/login",
                    data: JSON.stringify( {
                        "email": $( "#email" ).val(),
                        "password": sha256( $( "#password" ).val() )
                    } ),
                    success: function ( res ) {
                        $( "#login_form_div" ).addClass( 'hide' );
                        $( "#logged_in_area" ).removeClass( 'hide' );
                        $( "#user_id" ).text( res[ 'user_id' ] );

                        getCharsList();
                    },
                    contentType: "application/json; charset=utf-8"
                } );
                return false;
            } );


            $( "#create" ).click( name => {
                $.get( "/user/character", function ( name ) {
                        console.log( "creato" );
                    } )
                    .fail( function () {
                        alert( "error" );
                    } );
            } );
        } );

        function getCharsList() {
            $.get( "/user/character", function ( data ) {
                jQuery.each( data.data, function ( i, val ) {
                    $( "#characters" ).append( "<br />" + document.createTextNode( val.character_id +
                        " " + val
                        .name ) );
                } );
            } );
        }
    </script>
</head>

<body>
    <h1>Project M Test Platform</h1>
    <hr />
    <br />
    <br />
    <div id="container">
        <div id="container_login_form">
            <div id="login_form_div">
                <h2>Login:</h2>
                <form id="login_form">
                    Email:<br>
                    <input id="email" type="text" name="email"><br>
                    Password:<br>
                    <input id="password" type="password" name="password">
                    <br><br>
                    <button id="login_button">Login</button>
                </form>
            </div>
        </div>
        <div class="hide" id="logged_in_area">
            <h2>Logged in</h2>
            <h4>user_id: <span id="user_id"></span></h4>
            <div id="logout_button_div">
                <button id="logout_button">Logout</button>
            </div>

            <hr />
            <br />
            <br />
            <h2>Create character:</h2>
            Character name:<br>
            <input type="text" name="name"><br />
            <button id="create">Create</button>
            <br /><br />
            <h2>Your characters:</h2>
            <table width=50% id="characters" border="1">
            </table>
        </div>
    </div>
</body>

</html>